.venv
*.pyc
.uv-cache
test_data
experiments
models
__pycache__
issue_grouping_hosting/
*.parquet
.ipynb_checkpoints
UNKNOWN.egg-info
*.ipynb
issue_grouping_db
issue_grouping_db_*
.vscode
CLAUDE.md
.claude